{% extends "layout.html" %}

{% block content %}
  <div class="mh-full-screen d-flex align-items-center dark-overlay">
    <img src="{{ url_for('static', filename='headerPics/' + picture) }}" class="bg-image">
    <div class="container text-white text-center text-lg overlay-content py-6 py-lg-0">
      <h1 class="text-hide mx-auto mb-6">Coming soon<img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-4/img/coming-soon.png" class="img-fluid"></h1>
      <h3 class="mb-5 font-weight-normal">The Culture is coming to you soon.</h3>
      <p class="mb-4"><i class="fas fa-map-marker-alt mr-2"></i> 830 Westview Drive SW, Atlanta GA, USA</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#" target="_blank" title="twitter" class="text-white"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="facebook" class="text-white"><i class="fab fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="instagram" class="text-white"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
{% endblock content %}
