html {
  margin-top: 10rem;
}

body {
  font-family: "Open Sans";
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
  overflow: hidden;
  background-color: black;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 17px;
  font-family: "Oswald";
  text-decoration: none;
}

.navbar a:hover {
  color: grey;
}

.navbar .icon {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
}

.article-metadata a {
  font-weight: bold;
}

.article-metadata a:hover {
  color: #9685CE;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: height;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.container {
  min-height: 100%;
  position: relative;
}

@media screen and (max-width: 640px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .overlay {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
  }

  .overlay-content {
    margin-top: 5rem;
  }

  .overlay .icon {
    display: none;
  }

  .overlay .navbar-brand {
    display: none;
  }

  .overlay div {
    top: 3rem;
  }

  .overlay a {
    font-size: 36px;
    text-align: center;
    color: white;
    display: block;
    transition: 0.3s;
    float: none;
  }

  .overlay .closebtn {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
  }
}
