a:hover {
  text-decoration: none;
  color: #4285f4;
}

li {
  list-style: none;
}

.navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dark-overlay::after {
  opacity: .5;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.content-column {
  padding-left: 20px;
}

.w-col-9 {
  width: 75%;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.post-wrapper {
  margin-bottom: 30px;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
}

.post-content {
  padding: 20px;
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-col-4 {
  width: 33.33333333%;
}

.blog-image {
  display: block;
  height: 180px;
  border-radius: 3px;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.review-image {
  border: none;
  width: 80px;
}

.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}

.w-col-8 {
  width: 66.66666667%;
}

.blog-title-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  text-decoration: none;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.details-wrapper {
  margin-top: 8px;
  margin-bottom: 8px;
}

.blog-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
  line-height: 26px;
}

.post-info {
  display: inline-block;
  margin-right: 8px;
  color: #aaa;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-info.when-link {
  text-decoration: none;
}

.post-summary {
  display: inline;
  color: #aaa;
  font-size: 14px;
  line-height: 22px;
}

.read-more-link {
  display: inline;
  margin-left: 8px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 14px;
  line-height: 22%;
  text-decoration: underline;
}

.circle-profile {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
  border-radius: 500px;
}

@media (max-width: 991px) {
  .circle-profile {
    width: 70%;
  }
}

.comment-img {
  width: 30px;
}

footer a:hover {
  color: grey;
}
