html {
  margin-top: 10rem;
}

body {
  font-family: "Open Sans";
}

a:hover {
  text-decoration: none;
  color: #428bca;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
  overflow: hidden;
  background-color: black;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 17px;
  font-family: "Oswald";
}

.navbar a:hover {
  color: grey;
}

.navbar .icon {
  display: none;
}

a img {
  width: 25px;
  height: width;
}

.left {
  float: left;
}

.right {
  float: right;
}

li {
  list-style: none;
}

blockquote {
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  width: 95%;
  font-family: Open Sans;
  color: black;
  padding: 1em;
  border-left: 4px solid black;
  background: #F5F5F5;
}

blockquote a {
  color: black;
  font-size: 1.1em;
  font-style: normal;
  font-weight: bold;
  padding-right: 1em;
}

.article-title {
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
}

.article-metadata a {
  font-weight: bold;
}

.article-metadata a:hover {
  color: #9685CE;
}

.article-content {
  white-space: pre-line;
}

.content-section {
  background: white;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

article:hover {
  background-color: #D3D3D3;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
  border: 1px #ddd solid;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  border: 1px #ddd solid;
}

.comment-img {
    height: 2em;
    width: height;
    border: 1px #ddd solid;
    margin-right: 1em;
}

.account-heading {
  font-size: 2.5rem;
}

.container {
  min-height: 100%;
  position: relative;
}

a.comment-icon {
  padding-left: 0.5em;
  font-size: 1.5em;
}

.review-icon {
  font-size: 2em;
  margin-right: 3px;
  color: black;
}

.review-icon:hover {
  color: black;
}

@media screen and (max-width: 640px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .overlay {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
  }

  .overlay-content {
    margin-top: 5rem;
  }

  .overlay .icon {
    display: none;
  }

  .overlay .navbar-brand {
    display: none;
  }

  .overlay div {
    top: 3rem;
  }

  .overlay a {
    font-size: 36px;
    text-align: center;
    color: white;
    display: block;
    transition: 0.3s;
    float: none;
  }

  .overlay .closebtn {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
  }

  .comment-img {
    height: 5%;
    width: height;
    border: 1px #ddd solid;
  }
}

footer {
  font-family: "Oswald";
  text-align: center;
  padding: 25px;
}

footer a:hover {
  color: grey;
}
