{% extends "layout.html" %}

{% block body %}
<form action="" class="form-group col-xs-3" method="POST" enctype="multipart/form-data">
{{ form.hidden_tag() }}
  <div class="media mb-4">
    <h2 class="account-heading">
      <img class="rounded-circle account-img" src="{{ url_for('static', filename='profilePics/' + current_user.image_file) }}">
      {{ current_user.firstname }} {{ current_user.lastname }}
    </h2>
  </div>
  <h5>Username</h5>
  <p id="usernameField" class="text-secondary" data-editable>{{ current_user.username }}</p>
  <div class="form-group collapse multi-collapse">
    {% if form.username.errors %}
      {{ form.username(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.username.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.username(class="form-control form-control-lg") }}
    {% endif %}
  </div>
  <h5>Email</h5>
  <p id="emailField" class="text-secondary" data-editable>{{ current_user.email }}</p>
  <div class="form-group collapse multi-collapse">
    {% if form.email.errors %}
      {{ form.email(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.email.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% else %}
      {{ form.email(class="form-control form-control-lg") }}
    {% endif %}
  </div>
  <div id="editPictureField" class="form-group collapse multi-collapse">
    {{ form.profilePicture.label() }}
    {{ form.profilePicture(class="form-control-file") }}
    {% if form.profilePicture.errors %}
      {% for error in form.profilePicture.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    {% endif %}
  </div>
  <br>
  <a class="text-muted"><button id="editButton" class="btn btn-dark btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="usernameField emailField editPictureField">edit</button></a>
  <div id="saveButton" class="form-group collapse multi-collapse">
    {{ form.submit(class="btn btn-dark btn-sm") }}
  </div>
  <br>
</form>
{% endblock body %}
