{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-3 w-hidden-small w-hidden-tiny">
        <form class="content-section" enctype="multipart/form-data" method="POST">
          {{ form.hidden_tag() }}
          <img class="circle-profile z-depth-1-half" src="{{ url_for('static', filename='profilePics/' + current_user.image_file) }}">
          <div class="form-group collapse">
            {{ form.image_file(class="form-control-file") }}
            {% if form.image_file.errors %}
              {% for error in form.image_file.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </div>
          <h4 class="site-description">{{ user.firstname }} {{ user.lastname }}</h4>
          <hr>
          <h1 class="small-heading mb-4">About Me</h1>
          <div class="feature-posts-list w-dyn-list">
            <div class="w-dyn-items">
              <div class="w-dyn-item collapse-field">
                <p class="small-post-link">Username: {{ user.username }}</p>
              </div>
              <div class="form-group collapse">
                {% if form.username.errors %}
                  {{ form.username(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.username(class="form-control", id="username") }}
                  {{ form.username.label(class="form-control-placeholder", for="username") }}
                {% endif %}
              </div>
              <div class="w-dyn-item collapse-field">
                <p class="small-post-link">Email: {{ user.email }}</p>
              </div>
              <div class="form-group collapse">
                {% if form.email.errors %}
                  {{ form.email(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.email(class="form-control", id="email") }}
                  {{ form.email.label(class="form-control-placeholder", for="email") }}
                {% endif %}
              </div>
              <div class="w-dyn-item collapse-field">
                <p class="small-post-link">Phone Number: ({{ user.phone_number[:3] }}) - {{ user.phone_number[3:6] }}-{{ user.phone_number[6:] }}</p>
              </div>
              <div class="form-group collapse">
                {% if form.phone_number.errors %}
                  {{ form.phone_number(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.phone_number.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.phone_number(class="form-control", id="phone_number") }}
                  {{ form.phone_number.label(class="form-control-placeholder", for="phone_number") }}
                {% endif %}
              </div>
              <div class="w-dyn-item collapse-field">
                <p class="small-post-link">Occupation: {{ user.occupation }}</p>
              </div>
              <div class="form-group collapse">
                {% if form.occupation.errors %}
                  {{ form.occupation(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.occupation.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.occupation(class="form-control", id="occupation") }}
                  {{ form.occupation.label(class="form-control-placeholder", for="occupation") }}
                {% endif %}
              </div>
              <div class="w-dyn-item collapse-field">
                <p class="small-post-link collapse-field">{% if user.bio %}{{ user.bio }}{% else %}Tell us about yourself...{% endif %}</p>
              </div>
              <div class="form-group collapse">
                {% if form.bio.errors %}
                  {{ form.bio(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.bio.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.bio(class="form-control", id="bio") }}
                  {{ form.bio.label(class="form-control-placeholder", for="bio") }}
                {% endif %}
              </div>
            </div>
          </div>
          <hr>
          {% if current_user == user %}
            <button class="profile-edit-btn show-button collapse-field" type="button">Edit Profile</button>
            <div class="collapse multi-collapse">
              {{ form.submit(class="profile-save-btn hide-button") }}
              <button class="profile-cancel-btn hide-button" type="button">Cancel</button>
            </div>
          {% endif %}
        </form>
      </div>
      <div class="col-md-9">
        <h1 class="white-bg-heading">{{ user.firstname }}'s Posts</h1>
        <div class="w-dyn-list">
          <div class="w-dyn-items">
            {% if articles.items|length > 0 %}
              {% for article in articles.items %}
                <div class="w-dyn-item">
                  <div class="post-wrapper">
                    <div class="post-content">
                      <div class="row">
                        <div class="col-md-4">
                          <img class="blog-image w-inline-block" src="https://daks2k3a4ib2z.cloudfront.net/56cf6e77d3b4fc4579d0a95f/56e9f2962682addd4d54350d_photo-1441512673622-3eaa1c39ba28.jpg">
                        </div>
                        <div class="col-md-8">
                          <a class="blog-title-link w-inline-block"><h1 class="blog-title" foo="bar">{{ article.title }}</h1></a>
                          <div class="details-wrapper">
                            <div class="post-info">{{ article.date_posted.strftime('%m-%d-%Y') }}</div>
                            {% if article.company %}
                              <div class="post-info">|</div>
                              <a class="post-info when-link" href="/categories/art">{{ article.company.name }}</a>
                            {% endif %}
                          </div>
                          <div class="post-summary-wrapper">
                            <p class="post-summary">{{ article.body[:250] }}{% if article.body|length >= 250 %}...{%endif%}</p>
                            <a class="read-more-link" href="{{ url_for('articles.article', article_id=article.id) }}">View article</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <p>{{ user.firstname }} has no posted any articles</p>
            {% endif %}
          </div>
        </div>
        {% if current_user.is_authenticated and user == current_user %}
          <a href="{{ url_for('articles.new_article') }}"><button type="button" class="btn btn-dark btn-sm">Add Article</button></a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock body %}
