{% extends "layout.html" %}

{% block body %}
  <div class="content-section">
  <form class="form-group" method="POST">
    {{ searchForm.hidden_tag() }}
    <legend class="border-bottom mb-4">Search By Username</legend>
    <div class="form-group">
      {% if searchForm.search.errors %}
        {{ searchForm.search(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in searchForm.search.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ searchForm.search(class="form-control form-control-lg") }}
      {% endif %}
      <br>
      <div class="form-group">
        {{ searchForm.submit(class="btn btn-dark btn-sm") }}
      </div>
    </div>
  </form>
  </div>
  <br>
  <form class="form-group" method="POST">
    {{ roleForm.hidden_tag() }}
    {% if user %}
      <div class="media content-section mb-2">
        <div class="media-body">
          <div class="article-metadata">
            <p>
              <big><strong>{{ user.firstname }} {{ user.lastname }} - </strong></big>
              <a class="mr-2" href="{{ url_for('users.account', username=user.username) }}">{{ user.username }}</a>
            </p>
            {{ roleForm.role(class="form-control-sm") }}
            <br>
            <div>
              <a href="{{ url_for('users.admin_settings') }}"><button type="button" class="btn btn-danger btn-sm right">Cancel</button></a>
              {{ roleForm.save(class="btn btn-dark btn-sm right mr-2") }}
            </div>
          </div>
        </div>
      </div>
    {% elif searchForm.validate_on_submit() %}
      <br>
      <h3>No User Found</h3>
    {% endif %}
  </form>
  <br><br>
{% endblock body %}
