{% extends "layout.html" %}

{% block content %}
	<div class="jumbotron text-center">
		<h1 class="display-4">Welcome to The Culture</h1>
    	<p class="lead">The central for black owned businesses</p><br>
	    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	      <ol class="carousel-indicators">
	      	{% for i in range(pictures|length) %}
		      <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" class="{% if loop.first %} active {% endif %}"></li>
		    {% endfor %}
		  </ol>
	      <div class="carousel-inner">
	      	{% for picture in pictures %}
	          <div class="carousel-item {% if loop.first %} active {% endif %}">
	            <img class="d-block w-100" style="width:750px; height:300px;" src="{{ url_for('static', filename = 'slideshowPics/' + picture) }}">
	          </div>
	        {% endfor %}
	      </div>
	    </div>
	</div>
{% endblock content %}