<html>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3schools.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="icon" href="{{ url_for('static', filename = 'homepagePics/fist.jpg') }}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<title>The Culture</title>

<body class="w3-light-grey">
<nav id="navbar" class="navbar">
  <a class="navbar-brand mr-6 left" href="{{ url_for('main.home') }}"><img style="width: 25px;height: 25px;" src="{{ url_for('static', filename = 'homepagePics/fist.jpg') }}"> The Culture</a>
  <a class="nav-item nav-link left" href="{{ url_for('main.home') }}">Home</a>
  <a class="nav-item nav-link left" href="{{ url_for('main.about') }}">About</a>
  <a class="nav-item nav-link left" href="{{ url_for('reviews.show_reviews') }}">Reviews</a>
  {% if current_user.is_authenticated %}
    <a class="nav-item nav-link right" href="{{ url_for('users.logout') }}">Logout</a>
    <a class="nav-item nav-link right" href="{{ url_for('users.account') }}"><img style="width: 25px; height: 25px;" class="rounded-circle mr-2" src="{{ url_for('static', filename = 'profilePics/' + current_user.image_file) }}">My Account</a>
  {% else %}
    <a class="nav-item nav-link right" href="{{ url_for('users.register') }}"></span> Sign Up</a>
    <a class="nav-item nav-link right" href="{{ url_for('users.login') }}"></span> Login</a>
  {% endif %}
  <a class="nav-item nav-link right" href="{{ url_for('main.search_keyword') }}">Search</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction(this)"><i class="fa fa-bars mr-2"></i>Menu</a>
  <a id="closebtn" href="javascript:void(0);" class="closebtn" style="display: none;" onclick="closeNav()">&times;</a>
</nav>
<div class="container">
	{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock body %}
</div>
{% if paginate is defined %}
  <center>
    {% if paginate == "all" %}
      {% for page_num in reviews.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
        {% if page_num %}
          {% if reviews.page == page_num %}
            <a class="btn btn-dark mb-4" href="{{ url_for('reviews.show_reviews', page = page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-dark mb-4" href="{{ url_for('reviews.show_reviews', page = page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    {% elif paginate == "user" %}
      {% for page_num in reviews.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
        {% if page_num %}
          {% if reviews.page == page_num %}
            <a class="btn btn-dark mb-4" href="{{ url_for('users.user_reviews', username=user.username, page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-dark mb-4" href="{{ url_for('users.user_reviews', username=user.username, page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    {% endif %}
  </center>
{% endif %}
<!-- Footer -->
<footer class="w3-black" style="padding:25px">
  <span>© 2018 The Culture, Inc. · <a style="color: white" href="{{ url_for('main.privacy') }}">Privacy</a> · <a style="color: white" href="{{ url_for('main.terms_of_use') }}">Terms</a></span>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript">
function likeFunction(x) {
    if (x.innerHTML == "👍🏿 Like") {
        x.style.fontWeight = "bold";
        x.innerHTML = "✓ Liked";
    } else {
        x.style.fontWeight = "normal";
        x.innerHTML = "👍🏿 Like";
    }
}

function myFunction() {
    var x = document.getElementById("navbar");

    if (x.className === "navbar") {
        x.className = "overlay";
        x.id = "overlay";
        openNav();
    }
}

/* Open when someone clicks on the span element */
function openNav() {
    var x = document.getElementById("overlay");
    x.style.width = "100%";
    document.getElementById("closebtn").style.display = "block";
}

/* Close when someone clicks on the "x" symbol inside the overlay */
function closeNav() {
    var x = document.getElementById("overlay");
    x.className = "navbar";
    x.id = "navbar";
    document.getElementById("closebtn").style.display = "none";
}

window.onscroll = function() {
    if (window.pageYOffset == 0) {
        document.getElementById("navbar").style.top = "0";
    } else {
        document.getElementById("navbar").style.top = "-450px";
    }
};

$(document).ready(function(){
    $("#editButton").click(function(){
        $("#usernameField").hide();
        $("#emailField").hide();
        $("#editButton").hide();
    });
    $("#saveButton").click(function(){
        $("usernameField").show();
        $("emailField").show();
        $("editButton").show();
    });
    $("#cancelButton").click(function(){
        $("usernameField").show();
        $("emailField").show();
        $("editButton").show();
    });
});
</script>
