{% extends "layout.html" %}

{% block body %}
  <div class="content-section">
    <fieldset>
      <form class="form-group" method="POST">
        {{ form.hidden_tag() }}
        <h1 class="card-title form-title">Login</h1>
        <div class="form-group">
          {% if form.email.errors %}
            {{ form.email(class="col-8 form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="col-8 form-control", id="email") }}
            {{ form.email.label(class="form-control-placeholder", for="email") }}
          {% endif %}
        </div>
        <div class="form-group">
          {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="col-3 form-control", id="password", type="password") }}
            {{ form.password.label(class="form-control-placeholder", for="password") }}
          {% endif %}
        </div>
        <div class="form-check">
          {{ form.remember(class="form-check-input") }}
          {{ form.remember.label(class="form-check-label") }}
        </div>
        <br>
        <div class="form-group">
          {{ form.submit(class="btn btn-dark btn-sm") }}
          <small class="text-muted ml-2">
            <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
          </small>
          <br>
        </div>
      </form>
      <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('main.register') }}">Sign Up Now</a>
      </small>
    </fieldset>
  </div>
{% endblock body %}
