{% extends "layout.html" %}

{% block body %}
	<section id="productDetails">
    <div class="content-section">
      <div class="row mt-5">
        <div class="col-lg-6">
          <div class="text-center text-md-left" role="listbox">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/17.jpg" alt="Product Image" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-5 mr-3 text-center text-md-left">
          <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
            <strong>{{ product.name }}</strong>
          </h2>
          <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">{{ product.company.name }}</span>
          <h5 class="h5-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
            <span class="red-text font-weight-bold"><strong>${{ product.price }}</strong></span>
          </h5>
          <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne1">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                  <h4 class="mb-0">Description<i class="fa fa-angle-down rotate-icon"></i></h4>
                </a>
              </div>
              <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                <div class="card-body">{{ product.description }}</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                  <h4 class="mb-0">Details<i class="fa fa-angle-down rotate-icon"></i></h4>
                </a>
              </div>
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                  tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                  <h4 class="mb-0">Shipping<i class="fa fa-angle-down rotate-icon"></i></h4>
                </a>
              </div>
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                  tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
          </div>
          {% if current_user.is_authenticated %}
            <section class="color">
              <div class="mt-5">
              	<div class="row mt-3 mb-4">
                  <div class="col-md-12 text-center text-md-left text-md-right">
                    <button class="btn btn-primary btn-sm"><i class="fa fa-star" aria-hidden="true"></i> Add to favorites</button>
                  </div>
                </div>
              </div>
            </section>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section>
  	{% if current_user.is_authenticated %}
      <div class="card my-4">
        <h5 class="card-header">Leave a Review</h5>
        <div class="card-body">
          <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
		          {{ form.title.label(class="form-control-label") }}
		          {% if form.title.errors %}
		            {{ form.title(class="form-control is-invalid") }}
		            <div class="invalid-feedback">
		              {% for error in form.title.errors %}
		                <span>{{ error }}</span>
		              {% endfor %}
		            </div>
		          {% else %}
		            {{ form.title(class="form-control") }}
		          {% endif %}
		        </div>
            <div class="form-group">
            	{{ form.body.label(class="form-control-label") }}
              {% if form.body.errors %}
                {{ form.body(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.body.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.body(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            {{ form.submit(class="btn btn-dark btn-sm w3-right") }}
          </form>
        </div>
      </div>
    {% endif %}
  </section>
  <div class="divider-new"><h3 class="h3-responsive font-weight-bold blue-text mx-3">Product Reviews</h3></div>
  <section id="reviews">
    <div class="comments-list text-center text-md-left">
    	{% if reviews|length > 0 %}
    		{% for review in reviews %}
		      <div class="row mb-5">
		        <div class="col-sm-2 col-12 mb-3">
		          <img src="{{ url_for('static', filename='profilePics/' + review.author.image_file) }}" alt="reviewer image" class="avatar rounded-circle z-depth-1-half">
		        </div>
		        <div class="col-sm-10 col-12">
		          <a href="#"><h5 class="user-name font-weight-bold">{{ review.author.username }}</h5></a>
		          <ul class="rating">
		            <i class="fa fa-star blue-text"></i>
		            <i class="fa fa-star blue-text"></i>
		            <i class="fa fa-star blue-text"></i>
		            <i class="fa fa-star blue-text"></i>
		            <i class="fa fa-star blue-text"></i>
		          </ul>
		          <div class="card-data">
		            <ul class="list-unstyled mb-1">
		              <li class="comment-date font-small grey-text"><i class="fa fa-clock-o"></i> {{ review.date_posted }}</li>
		            </ul>
		          </div>
		          <p class="dark-grey-text article text-body">{{ review.body }}</p>
		        </div>
		      </div>
		    {% endfor %}
		  {% else %}
		  	<h5 class="grey-text text-center">No reviews for this product<h5>
		  {% endif %}
    </div>
  </section>
{% endblock body %}
