{% extends "layout.html" %}

{% block body %}
  <section class="mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="block">
            <div class="block-header">
              <h6 class="text-uppercase mb-0">New account</h6>
            </div>
            <div class="block-body">
              <p class="lead">Not a registered user yet?</p>
              <p class="text-muted">With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
              <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
              <hr>
              <form class="form-group" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.firstname.label(class="form-label") }}
                  {% if form.firstname.errors %}
                    {{ form.firstname(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.firstname.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.firstname(class="form-control") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.lastname.label(class="form-label") }}
                  {% if form.lastname.errors %}
                    {{ form.lastname(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.lastname.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.lastname(class="form-control") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.username.label(class="form-label") }}
                  {% if form.username.errors %}
                    <div class="input-group">
                      <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">@</span></div>
                      {{ form.username(class="form-control is-invalid", placeholder="Username") }}
                    </div>
                    <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    <div class="input-group">
                      <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">@</span></div>
                      {{ form.username(class="form-control", placeholder="Username") }}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.email.label(class="form-label") }}
                  {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.email(class="form-control") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.password.label(class="form-label") }}
                  {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.password(class="form-control") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.confirm_password.label(class="form-label") }}
                  {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.confirm_password(class="form-control") }}
                  {% endif %}
                </div>
                <div class="form-group text-center">
                  {{ form.submit(class="btn btn-outline-dark") }}
                </div>
                <div class="form-group text-center">
                  <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
                  </small>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services block-->
  <div class="bg-gray-100 text-dark-700 py-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#delivery-time-1"></use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">Free shipping & return</h6>
            <p class="text-muted font-weight-light text-sm mb-0">Free Shipping over $300</p>
          </div>
        </div>
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#money-1"></use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">Money back guarantee</h6>
            <p class="text-muted font-weight-light text-sm mb-0">30 Days Money Back Guarantee</p>
          </div>
        </div>
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#customer-support-1"></use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">020-800-456-747</h6>
            <p class="text-muted font-weight-light text-sm mb-0">24/7 Available Support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
