{% extends "layout.html" %}

{% block body %}
  <div class="content-section">
    <fieldset class="mx-auto" style="max-width: 400px;">
      <h1 class="card-title text-center">Register</h1>
      <p class="text-center">Get started with your free account</p>
      <a href="{{ url_for('users.user_register') }}" class="btn btn-lg btn-block btn-secondary">Register a User</a>
      <p class="divider-text"><span class="bg-white">OR</span></p>
      <a href="{{ url_for('companies.company_register') }}" class="btn btn-lg btn-block btn-dark">Register a Company</a>
      <br>
      <p class="text-center">Have an account?<a href="{{ url_for('users.login') }}"> Log In</a></p>
    </fieldset>
  </div>
{% endblock body %}
