{% extends "layout.html" %}

{% block body %}
  <div class="content-section">
    <form class="form-group" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <h1 class="card-title mb-4">Reset Password</h1>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control") }}
          {% endif %}
        </div>
        <br>
        <div class="form-group">
          {{ form.submit(class="btn btn-dark btn-sm") }}
        </div>
      </fieldset>
    </form>
  </div>
{% endblock body %}
