{% extends "layout.html" %}

{% block body %}
  <div class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">
      <h3>{{ review.title }}</h3>
      <h5 class="w3-opacity">Posted By
        <a href="{{ url_for('users.account', username=review.author.username) }}">{{ review.author.username }}</a>
         on {{ review.date_posted.strftime('%m-%d-%Y') }}
      </h5>
    </div>
    <img src="{{ url_for('static', filename='homepagePics/blackgirls.jpg') }}" style="width: 100%" class="w3-padding-16 mb-4">
    <p>{{ review.body }}</p>
    <br>
    <div>
      <i class="review-icon fa fa-heart w3-hover-opacity" onclick="likeFunction(this)"></i>
      {% if review.author == current_user %}
        <a class="review-icon fa fa-edit w3-hover-opacity" href="{{ url_for('reviews.update_review', review_id=review.id) }}"></a>
        <i class="review-icon fa fa-trash w3-hover-opacity" data-toggle="modal" data-target="#deleteModal"></i>
      {% endif %}
    </div>
    <br><br>
    <h3>Comments</h3>
    <br>
    {% if comments|length > 0 %}
      {% for comment in comments %}
        <blockquote>
          <img class="rounded-circle comment-img" src="{{ url_for('static', filename='profilePics/' + review.author.image_file) }}">
          <a href="{{ url_for('users.account', username=comment.commenter.username) }}">{{ comment.commenter.username }}</a>
           {{ comment.body }}
        </blockquote>
        {% if current_user == comment.commenter or current_user == review.author %}
          <a href="{{ url_for('comments.delete_comment', review_id=review.id, comment_id=comment.id) }}" class="comment-icon fa fa-trash"></a>
        {% endif %}
      {% endfor %}
    {% else %}
      <div class="w3-row">
        <p class="text-muted">No comments yet for this post</p>
      </div>
    {% endif %}
    <br><br>
    {% if current_user.is_authenticated %}
      <form class="form-group" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.body.label(class="form-control-label") }}
          {% if form.body.errors %}
            {{ form.body(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.body.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.body(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-dark btn-sm") }}
        </div>
      </form>
    {% endif %}
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Review?</h5>
          <button class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to delete this post? This change will be final.</div>
        <div class="modal-footer">
          <form method="POST">
            <a class="btn btn-danger btn-sm" href="{{ url_for('reviews.delete_review', review_id=review.id) }}">Delete</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
