{% extends "layout.html" %}

{% block body %}
<div class="form-group col-xs-3">
  <div class="media">
    <div class="media-body">
      <h1 class="account-heading">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profilePics/' + current_user.image_file) }}">Reviews by {{ user.username }}
      </h1>
    </div>
  </div>
  <br><br>
  {% if reviews.items|length > 0 %}
  	{% for review in reviews.items %}
  	  <article class="media content-section mb-4">
        <div class="media-body">
          <div class="article-metadata">
            <p class="text-muted">Posted by
              <a class="mr-2" href="{{ url_for('users.user_reviews', username=review.author.username) }}">{{ review.author.username }}</a>
              <small class="text-muted">{{ review.date_posted.strftime('%Y-%m-%d') }}</small>
            </p>
          </div>
          <h2><a class="article-title" href="{{ url_for('reviews.review', review_id=review.id) }}">{{ review.title }}</a></h2>
        </div>
      </article>
  	{% endfor %}
  {% else %}
    <p class="text-muted">No reviews have been posted yet</p>
  {% endif %}
  {% if current_user.is_authenticated %}
    <br><br>
    <a href="{{ url_for('reviews.new_review') }}"><button class="btn btn-dark btn-sm">Add Review</button></a>
    <br>
  {% endif %}
</div>
{% endblock body %}
